* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
.active{
    background-color: aqua;
}
body {
    background-color: #F7F7F8;
}
body a {
    text-decoration: none;

}
button {
    border: none;
    background-color: #fff;
}
ul {
    list-style-type: none;
}
.container {
    background-color: #F7F7F8;
    margin: auto;
    width: calc(100% - 324px);
}
.swiper-slide {
    flex-shrink: 1;
}
.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    background-color: aqua;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 